@font-face {
    font-family: Product Sans;
    src: url(fonts/Product\ Sans\ Bold.ttf);
}

/* O * pega o projeto inteiro */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

#main{
    width: 100%;
    height: 100vh;
    background: orangered;
}

.nav-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    z-index: 99;
}

.nav-container a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-container img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.nav-menu{
    display: flex;
    gap: 50px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 166,0), rgb(255, 64,0));
}

.hero h1{
    font-size: 25vw;
    color: #fff;
}

#fanta{
    position: absolute;
    width: 40%;
    z-index: 2;
}

#laranja-cortada{
    position: absolute;
    width: 15%;
    top: 10%;
    left: 32%;
    z-index: 2;
}

#laranja{
    position: absolute;
    width: 20%;
    top: 55%;
    right: 30%;
    z-index: 3;
}

#folha{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 18%;
    transform: rotate(60deg);
}

#folha2{
    position: absolute;
    top: 70%;
    left: 80%;
    width: 12%;
    transform: rotate(-90deg);
}

#folha3{
    position: absolute;
    top: 10%;
    right: 0%;
    width: 20%;
}

/* TEMPORARIO */
.hero img{
    width: 50px;
}